@using JopsInterfaceServis.Interfacs;
@using System.Text.RegularExpressions;
@using Jops.Domain.Entity;


@if (isVisible)
{
    <div class="modal show" tabindex="-1" style="display: block;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">@((company.Id == 0) ? "Add company" : "Edit company")</h5>
                    <button type="button" class="btn-close" aria-label="Close" @onclick="Cancel"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="title" class="form-label">Name</label>
                        <input type="text" class="form-control" id="title" @bind="company.Name">
                    </div>
                    <div class="mb-3">
                        <label for="isbn" class="form-label">Location</label>
                        <input type="text" class="form-control" id="isbn" @bind="company.Locaton">
                    </div>
                      <div class="mb-3">
                <label for="numberOfPages" class="form-label">Number of Pages</label>
                        <input type="number" class="form-control" id="numberOfPages" @bind="company.Specialty">
                </div>
                <div class="mb-3">
                <label for="language" class="form-label">Language</label>
                        <input type="text" class="form-control" id="language" @bind="company.Email">
                </div>

                    <div class="mb-3">
                        <label for="language" class="form-label">Language</label>
                        <input type="text" class="form-control" id="language" @bind="company.State">
                    </div>



                    <div class="mb-3">
                        <label for="language" class="form-label">Language</label>
                        <input type="text" class="form-control" id="language" @bind="company.Phone">
                    </div>

                </div> 
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
                        <button type="button" class="btn btn-primary" @onclick="Save">Save</button>
                    </div>
                </div>
            </div>
        </div>
   
}

@code {

    [Parameter] public EventCallback OnSave { get; set; }

    [Inject] public CompanyIRep CompanyService { get; set; }

    private bool isVisible;

    private Company company = new();

    public void Show(Company company)
    {
        this.company = company;
        isVisible = true;
    }

    private void Save()
    {
        if (company.Id == 0)
        {
            CompanyService.Creat(company);
        }
        else
        {
            CompanyService.Update(company);
        }

        isVisible = false;
        OnSave.InvokeAsync();
    }

    private void Cancel()
    {
        isVisible = false;
    }
}